<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Play Store</title>
    <%- include('headImports')%>
</head>

<body>
    <%- include('navbar')%>
        <h1 class="page_title">APPLICATIONS</h1>
        <div id="content">
            <h3>Top Selling Applications</h3>
            <div class="itemsRowHome">
                <% for (var i=0;i<applicationsTopSelling.length;i++) {%>
                    <div class="itemBox">

                        <img class="itemImage" src="<%=applicationsTopSelling[i].image%>" alt="Image">
                        <a
                            href="/item?itemType=<%=applicationsTopSelling[i].constructor.modelName%>&itemId=<%=applicationsTopSelling[i]._id%>">
                            <p class="itemTitle">
                                <%=applicationsTopSelling[i].title%>
                            </p>
                        </a>
                        <p class="itemType">
                            <%=applicationsTopSelling[i].constructor.modelName%>
                        </p>
                        <p class="itemId">
                            <%=applicationsTopSelling[i]._id%>
                        </p>
                        <% if (username) { %>
                            <% if (wishlist.includes(applicationsTopSelling[i]._id)) { %>
                                <a href="#!"><i class="fa fa-bookmark bookmark"></i></a>
                                <% } else { %>
                                    <a href="#!"><i class="fa fa-bookmark-o bookmark"></i></a>
                                    <% } %>
                                        <% } %>
                                            <p class="itemPrice">
                                                <% if (applicationsTopSelling[i].price===0) { %>
                                                    Free
                                                    <% } else { %>
                                                        $<%=applicationsTopSelling[i].price%>
                                                            <% } %>
                                            </p>
                    </div>
                    <%}%>
            </div>
            <a href="/applications/topSelling" class="seemorebutton"><button class="dropbtn seemore">See More...</button></a>

            <h3>New Release Applications</h3>
            <div class="itemsRowHome">
                <% for (var i=0;i<applicationsNewest.length;i++) {%>
                    <div class="itemBox">
                        <img class="itemImage" src="<%=applicationsNewest[i].image%>" alt="Image">
                        <a
                            href="/item?itemType=<%=applicationsNewest[i].constructor.modelName%>&itemId=<%=applicationsNewest[i]._id%>">
                            <p class="itemTitle">
                                <%=applicationsNewest[i].title%>
                            </p>
                        </a>
                        <p class="itemType">
                            <%=applicationsNewest[i].constructor.modelName%>
                        </p>
                        <p class="itemId">
                            <%=applicationsNewest[i]._id%>
                        </p>
                        <% if (username) { %>
                            <% if (wishlist.includes(applicationsNewest[i]._id)) { %>
                                <a href="#!"><i class="fa fa-bookmark bookmark"></i></a>
                                <% } else { %>
                                    <a href="#!"><i class="fa fa-bookmark-o bookmark"></i></a>
                                    <% } %>
                                        <% } %>
                                            <p class="itemPrice">
                                                <% if (applicationsNewest[i].price===0) { %>
                                                    Free
                                                    <% } else { %>
                                                        $<%=applicationsNewest[i].price%>
                                                            <% } %>
                                            </p>
                    </div>
                    <%}%>
            </div>
            <a href="/applications/newestReleases" class="seemorebutton"><button class="dropbtn seemore">See More...</button></a>

            <%- include('footer')%>
        </div>
</body>

</html>