<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Play Store</title>
    <%- include('headImports')%>
</head>

<body>
    <%- include('navbar')%>
        <h1 class="page_title">BOOKS</h1>
        <div id="content">
            <h3>Top Selling Books</h3>
            <div class="itemsRowHome">
                <% for (var i=0;i<booksTopSelling.length;i++) {%>
                    <div class="itemBox largeItemBoxHome">
                        <img class="itemImage" src="<%=booksTopSelling[i].image%>" alt="Image">
                        <a
                            href="/item?itemType=<%=booksTopSelling[i].constructor.modelName%>&itemId=<%=booksTopSelling[i]._id%>">
                            <p class="itemTitle">
                                <%=booksTopSelling[i].title%>
                            </p>
                        </a>
                        <p class="itemType">
                            <%=booksTopSelling[i].constructor.modelName%>
                        </p>
                        <p class="itemId">
                            <%=booksTopSelling[i]._id%>
                        </p>
                        <% if (username) { %>
                            <% if (wishlist.includes(booksTopSelling[i]._id)) { %>
                                <a href="#"><i class="fa fa-bookmark bookmark"></i></a>
                                <% } else { %>
                                    <a href="#"><i class="fa fa-bookmark-o bookmark"></i></a>
                                    <% } %>
                                        <% } %>
                                            <p class="itemPrice">
                                                <% if (booksTopSelling[i].price===0) { %>
                                                    Free
                                                    <% } else { %>
                                                        <%=booksTopSelling[i].price%>$
                                                            <% } %>
                                            </p>
                    </div>
                    <%}%>
            </div>
            <a href="/books/topSelling" class="seemorebutton"><button class="dropbtn seemore">See More...</button></a>

            <h3>New Release Books</h3>
            <div class="itemsRowHome">
                <% for (var i=0;i<booksNewest.length;i++) {%>
                    <div class="itemBox largeItemBoxHome">
                        <img class="itemImage" src="<%=booksNewest[i].image%>" alt="Image">
                        <a
                            href="/item?itemType=<%=booksNewest[i].constructor.modelName%>&itemId=<%=booksNewest[i]._id%>">
                            <p class="itemTitle">
                                <%=booksNewest[i].title%>
                            </p>
                        </a>
                        <p class="itemType">
                            <%=booksNewest[i].constructor.modelName%>
                        </p>
                        <p class="itemId">
                            <%=booksNewest[i]._id%>
                        </p>
                        <% if (username) { %>
                            <% if (wishlist.includes(booksNewest[i]._id)) { %>
                                <a href="#"><i class="fa fa-bookmark bookmark"></i></a>
                                <% } else { %>
                                    <a href="#"><i class="fa fa-bookmark-o bookmark"></i></a>
                                    <% } %>
                                        <% } %>
                                            <p class="itemPrice">
                                                <% if (booksNewest[i].price===0) { %>
                                                    Free
                                                    <% } else { %>
                                                        <%=booksNewest[i].price%>$
                                                            <% } %>
                                            </p>
                    </div>
                    <%}%>
            </div>
            <a href="/books/newestReleases" class="seemorebutton"><button class="dropbtn seemore">See More...</button></a>

            <%- include('footer')%>
        </div>
</body>

</html>