<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Play Store</title>
    <%- include('headImports')%>
</head>

<body>
    <%- include('navbar')%>

    <div class="dropdown">
        <button class="dropbtn">Sort By</button>
        <div id="sortDiv" class="dropdown-content">
            <a href="#">
                <img src="/../media/filter/genre.png" width="15" height="15"> Top Rated
            </a>
            <a href="#">
                <img src="/../media/filter/topselling.png" width="15" height="15"> Top Selling
            </a>
            <a href="#">
                <img src="/../media/filter/newreleases.png" width="15" height="15"> New Releases
            </a>
            <a href="#">
                <img src="/../media/filter/gooddeals.png" width="15" height="15"> Cheapest
            </a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Filter By Genre</button>
        <div id="filterDiv" class="dropdown-content">
            <a href="#">
                <img src="/../media/filter/genre.png" width="15" height="15"> Action and Adventure
            </a>
            <a href="#">
                <img src="/../media/filter/topselling.png" width="15" height="15"> Animation
            </a>
            <a href="#">
                <img src="/../media/filter/newreleases.png" width="15" height="15"> Comedy
            </a>
            <a href="#">
                <img src="/../media/filter/gooddeals.png" width="15" height="15"> Drama
            </a>
        </div>
    </div>
        <h1 class="page_title">MOVIES</h1>

        <div id="content">
            <div class="itemsRow">
                <% for (var i=0;i<movies.length;i++) {%>
                    <div class="itemBox largeItemBoxHome">
                        <div class="movieImageDiv">
                            <div class="overlay">
                                <a href="<%=movies[i].trailerLink%>" target="_blank" class="playIcon" title="Play">
                                    <i class="fa fa-play-circle-o"></i>
                                </a>
                            </div>
                            <img class="itemImage" src="<%=movies[i].image%>" alt="Image">
                        </div>
                        <a href="/item?itemType=<%=movies[i].constructor.modelName%>&itemId=<%=movies[i]._id%>">
                            <p class="itemTitle">
                                <%=movies[i].title%>
                            </p>
                        </a>
                        <p class="itemType">
                            <%=movies[i].constructor.modelName%>
                        </p>
                        <p class="itemId">
                            <%=movies[i]._id%>
                        </p>
                        <p class="itemCopies">
                            <%=movies[i].copiesSold%>
                        </p>
                        <p class="itemRating">
                            <%=movies[i].averageRating%>
                        </p>
                        <p class="itemDate">
                            <%=movies[i].dateOfRelease%>
                        </p>
                        <% if (username) { %>
                            <% if (wishlist.includes(movies[i]._id)) { %>
                                <a href="#"><i class="fa fa-bookmark bookmark"></i></a>
                                <% } else { %>
                                    <a href="#"><i class="fa fa-bookmark-o bookmark"></i></a>
                                    <% } %>
                                        <% } %>
                                            <p class="itemPrice">
                                                <% if (movies[i].price===0) { %>
                                                    Free
                                                    <% } else { %>
                                                        <%=movies[i].price%>$
                                                            <% } %>
                                            </p>
                    </div>
                    <%}%>
            </div>
            <%- include('footer')%>
        </div>
</body>

</html>